Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  cppcoreguidelines-*,
  performance-*,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-using,
  modernize-use-default-member-init,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-non-private-member-variables-in-classes

WarningsAsErrors: ''

FormatStyle: file

CheckOptions:
  cppcoreguidelines-rvalue-reference-param-not-moved.AllowPartialMove: true